<!DOCTYPE html>
<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <style>
                body {
                    font-family: 'Courier Prime', monospace;
                }

                h1 {
                    padding: 20px;
                    margin-top:40px;
                }

                .tops p {
                    font-size: 20px;
                    font-weight: 600;
                }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/feed" class="btn btn-primary" style="margin-top: 30px; margin-left:30px;">На главную</a>
                </div>
                <div class="col">
                    <a href="/cluster/{{ output._id }}?range=sentiment" class="btn btn-primary" style="margin-top: 30px; margin-left:30px;">Сентиментальность</a>
                </div>
                <div class="col">
                    <a href="/cluster/{{ output._id }}?range=bias" class="btn btn-primary" style="margin-top: 30px; margin-left:30px;">Предвзятость</a>
                </div>
                <div class="col">
                    <a href="/cluster/{{ output._id }}?range=meaningfullness" class="btn btn-primary" style="margin-top: 30px; margin-left:30px;">Информативность</a>
                </div>
            </div>
        </div>
        <div class="title" style="text-align: center;">
            <h1>Новость</h1>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>World</h2>
                    </div>
                    <div class="col">
                        <h2>RU</h2>  
                    </div>
                </div>
                <div class="tops" style="margin-top: 20px;">
                        {% for i in output.high_range[:3] %}
                        <div class="row">
                            <div class="col">
                                <div class="card" style="height: 12em; background-color: palegreen;">
                                    <p class="card-title" style="margin-top:30px;">{{ i[1].title }}</p>
                                    <div class="card-body">
                                        <a class="card_link" href="{{ i[1].url }}" class="btn btn-primary"><b>Источник</b></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                            <div class="card" style="height: 12em; background-color: palegreen;">
                                    <p class="card-title" style="margin-top:30px;">{{ i[0].title }}</p>
                                    <div class="card-body">
                                        <a class="card_link" href="{{ i[0].url }}" class="btn btn-primary"><b>Источник</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                    <div class="row">
                        <div class="col">            
                            <div class="card" style="width: 100%; background-color: gainsboro;  margin-bottom: 30px; margin-top: 30px;" >
                                <h2 style="margin-top: 30px;">PRAVDA</h2>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">{{ output.en_pravda.title }}</p>
                                            <a href="{{ output.en_pravda.url }}" style="margin-top:20px;"class="btn btn-primary">Источник</a>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">{{ output.ru_pravda.title }}</p>
                                            <a href="{{ output.ru_pravda.url }}" style="margin-top:20px;"class="btn btn-primary">Источник</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
                    <div class="tops" style="margin-top: 20px;">
                        {% for i in output.low_range[:3] %}
                            <div class="row">
                                <div class="col">
                                    <div class="card" style="height: 12em; background-color: darksalmon;">
                                        <p class="card-title" style="margin-top:30px;">{{ i[1].title }}</p>
                                        <div class="card-body">
                                            <a class="card_link" href="{{ i[1].url }}" class="btn btn-primary"><b>Источник</b></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                <div class="card" style="height: 12em;  background-color: darksalmon">
                                        <p class="card-title" style="margin-top:30px;">{{ i[0].title }}</p>
                                        <div class="card-body">
                                            <a class="card_link" href="{{ i[0].url }}" class="btn btn-primary"><b>Источник</b></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h1>Интересно знать</h1>
            <div class="container" style="margin-bottom: 100px;">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h5 class="card-title" style="font-weight: 800;">Публикаций на тему:</h5>
                            <p>{{ output.ru_count + output.en_count }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h5 class="card-title" style="font-weight: 800;">Публикаций в RU:</h5>
                            <p>{{ output.ru_count }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h5 class="card-title" style="font-weight: 800;">Публикаций в мире:</h5>
                            <p>{{ output.en_count }}</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>