<!DOCTYPE html>
<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <style>
                body {
                    font-family: 'Courier Prime', monospace;
                }

                h1 {
                    padding: 20px;
                    margin-top:40px;
                }

                .tops p {
                    font-size: 20px;
                    font-weight: 600;
                }
        </style>
    </head>
    <body>
        <a href="/feed" class="btn btn-primary" style="margin-top: 30px; margin-left:30px;">На главную</a>
        <div class="title" style="text-align: center;">
            <h1>Новость</h1>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>US</h2>
                    </div>
                    <div class="col">
                        <h2>RU</h2>  
                    </div>
                </div>
                <div class="tops" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col">
                            <p>US Sentiment 1 <a class="btn btn-primary">Источник</a></p>
                        </div>
                        <div class="col">
                            <p>RU Sentiment 1 <a class="btn btn-primary">Источник</a></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                            <div class="col">
                                <p>US Sentiment 2 <a class="btn btn-primary">Источник</a></p>
                            </div>
                            <div class="col">
                                <p>RU Sentiment 2 <a class="btn btn-primary">Источник</a></p>
                            </div>
                        </div>
                    <br>
                    <div class="row">
                            <div class="col">
                                <p>US Sentiment 3 <a class="btn btn-primary">Источник</a></p>
                            </div>
                            <div class="col">
                                <p>RU Sentiment 3 <a class="btn btn-primary">Источник</a></p>
                            </div>
                        </div>
                    <br>
                    <div class="row">
                        <div class="col">            
                            <div class="card" style="width: 100%;">
                                <h2 style="margin-top: 15px;">PRAVDA</h2>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                        <a href="#" style="margin-top:20px;"class="btn btn-primary">Источник</a>
                                </div>
                                </div>
                            </div>
                    </div>
                    <div class="tops" style="margin-top: 20px;">
                            <div class="row">
                                <div class="col">
                                    <p>US Sentiment -3 <a class="btn btn-primary">Источник</a></p>
                                </div>
                                <div class="col">
                                    <p>RU Sentiment -3 <a class="btn btn-primary">Источник</a></p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                    <div class="col">
                                        <p>US Sentiment -2 <a class="btn btn-primary">Источник</a></p>
                                    </div>
                                    <div class="col">
                                        <p>RU Sentiment -2 <a class="btn btn-primary">Источник</a></p>
                                    </div>
                                </div>
                            <br>
                            <div class="row">
                                    <div class="col">
                                        <p>US Sentiment -1 <a class="btn btn-primary">Источник</a></p>
                                    </div>
                                    <div class="col">
                                        <p>RU Sentiment -1 <a class="btn btn-primary">Источник</a></p>
                                    </div>
                                </div>
                            <br>
                </div>
            </div>
            <h1>Интересно знать</h1>
            <div style="text-align: left;">
                <ul>
                    <li>Публикаций на тему: 1337</li>
                    <li>Из РУ-сегмента: 228</li>
                    <li>Из EN-сегмента: 420</li>
                </ul>
            </div>
        </div>
    </body>
</html>