<!DOCTYPE html>
<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <style>
                body {
                    font-family: 'Courier Prime', monospace;
                }
                h1 {
                    padding: 20px;
                    margin-top:40px;
                }
        </style>
    </head>
    <body>
        <h1>Самые свежие новости</h1>
        {% for cluster in clusters %}
        <div class="container">
            <p>От: {{ cluster.metrics.date_range[0].split(' ')[0] }}</p>
            <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{ cluster.ru_title }}</h5>
                        <p class="card-text">{{ cluster.ru_preview }}</p>
                    </div>
                    <div class="col">
                        <h5 class="card-title">{{ cluster.en_title }}</h5>
                        <p class="card-text">{{ cluster.en_preview }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p>Статей из рунета: {{ cluster.metrics.ru_count }} </p>
                    </div>
                    <div class="col">
                        <p>Статей в мире: {{ cluster.metrics.en_count }} </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col">
                    <p>
                        {% for tag in cluster.tags.ru %}
                            <span  class="badge badge-pill badge-light">{{ tag[0] }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {% for tag in cluster.tags.en %}
                            <span  class="badge badge-pill badge-light">{{ tag[0] }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            </div>
            <div style="text-align: center;">
                    <a href="/cluster/{{ cluster.id }}?range=sentiment" style="margin-bottom:20px;"class="btn btn-primary"><b>Подробнее</b></a>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </body>
</html>